﻿@model Football.Web.Models.LeaguesStatisticsViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LeguesStatisticView</title>
</head>
<body>
<div class="container">
    <div>
        <div class="container">
            <h1>
                Legues Statistic
            </h1>
        </div>
        <div class="container">
            @foreach (var legue in Model.Leagues)
            {
                <button type="button" class="btn btn-primary btn-lg btn-block">@legue.Name</button>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Position</th>
                            <th scope="col">Command</th>
                            <th scope="col">Goals</th>
                            <th scope="col">Missed</th>
                            <th scope="col">Goals/Missed Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Best Attakers</th>
                            <td>@legue.Attackers.Name</td>
                            <td>@legue.Attackers.GoalsScored</td>
                            <td>@legue.Attackers.MissedGoals</td>
                            <td>@legue.Attackers.GoalsMissedRate</td>
                        </tr>
                        <tr>
                            <th scope="row">Best Defenders</th>
                            <td>@legue.Defenders.Name</td>
                            <td>@legue.Defenders.GoalsScored</td>
                            <td>@legue.Defenders.MissedGoals</td>
                            <td>@legue.Defenders.GoalsMissedRate</td>
                        </tr>
                        <tr>
                            <th scope="row">Best Rated</th>
                            <td>@legue.BestRatio.Name</td>
                            <td>@legue.BestRatio.GoalsScored</td>
                            <td>@legue.BestRatio.MissedGoals</td>
                            <td>@legue.BestRatio.GoalsMissedRate</td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
        <div class="container">
            <h2>
                See also
            </h2>
        </div>
        <div class="container">
            <button type="button" class="btn btn-warning btn-lg btn-block">The most productive days</button>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Round</th>
                        <th scope="col">Team 1</th>
                        <th scope="col">Team 2</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var match in Model.ProductiveDays)
                    {
                        <tr>
                            <th scope="row">@match.Date.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture)</th>
                            <td>@match.Round</td>
                            <td>@match.Team1 (@match.Team1Goals)</td>
                            <td>@match.Team2 (@match.Team2Goals)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    </div>

</body>
</html>
